* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin: 2px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:360px;
	width: 360px;
}


.content-text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.displayContent {
	margin : auto;
}

.the-slides {
	height: 0;
	margin: auto;
	transition: max-height 1s ease-out, opacity 0.5s ease-out, transform 0.5s ease-out;
	opacity: 0;
	max-width: 0;
	transform: scaleX(0);
	overflow: hidden;
}

.visible-slide {
	opacity: 1;
	max-width: 280px;
	/*height: auto;*/
	width: 200px;
	height: 230px;
	transform: scaleX(1);
	border: 2px solid orange;
	border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
	max-width: 340px;
	max-height: 340px;
	width: 200px;
	height: 230px;
	margin: auto;
	text-align: center;
	padding: 0;
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

.keypad-button {
    background: #505050;
    border: 1px solid orange;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.keypad-button.col-4 {
    width: 25%;
}

.keypad-button.col-3 {
    width: 40%;
}

.keypad-button.col-3.center {
    width: 30%;
}

.command-button {
	background-color: #2828de;
}

.display {
    width: 190px;
    height: auto;
    /*border: 4px solid; 
    border-radius: 10px;*/
    padding-top: 30px;
}

.display-data {
    text-align: center;
    vertical-align: baseline;
    margin: auto;
    /*color: cyan;*/
    font-size: 54px;
    font-weight: bold;
}

.display-unit {
    text-align: center;
    vertical-align: baseline;
    color: inherit;
    font-size: 20px;
}

.display-title {
    text-align: center;
    vertical-align: bottom;
    padding-left: 0;
    align-self: end;
    color: inherit;
    font-size: 14px;
}

.small-data {
	font-size: 24px;
}