* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 2px auto;
    background-color:#222;
    color: white;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:360px;
	width: 360px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.displayContent {
	margin : auto;
}

.the-slides {
	height: 0;
	margin: auto;
	transition: max-height 1s ease-out, opacity 0.5s ease-out, transform 0.5s ease-out;
	opacity: 0;
	max-width: 0;
	transform: scaleX(0);
	overflow: hidden;
}

.text-slide {
	padding-top: 80px;
	height: 280px;	
}

.display {
	font-size: 30px;
	margin: 20px;
}

.visible-slide {
	opacity: 1;
	max-width: 360px;
	/*height: auto;*/
	width: 360px;
	height: 360px;
	transform: scaleX(1);
	/* border: 2px solid orange;
	border-radius: 10px; */
}

/* Slideshow container */
.slideshow-container {
	max-width: 360px;
	max-height: 360px;
	width: 360px;
	height: 360px;
	margin: auto;
	text-align: center;
	padding: 0;
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

.keypad-button {
    background: #505050;
    border: 1px solid orange;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.keypad-button.col-4 {
    width: 25%;
}

.keypad-button.col-3 {
    width: 40%;
}

.keypad-button.col-3.center {
    width: 30%;
}

.command-button {
	background-color: #2828de;
}
