<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/TrackLogger2" version="1.0.0" viewmodes="maximized">
    <tizen:application id="HRyED1tBpp.TrackLogger2" package="HRyED1tBpp" required_version="3.0"/>
    <author>Olivier LeDiouris</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="navigation.03.png"/>
    <license>MIT</license>
    <name>Track Logger v2</name>
    <tizen:profile name="wearable"/>
</widget>
