<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/RESTSwitch30" version="1.0.0" viewmodes="maximized">
    <tizen:application id="VHji0h7UQU.RESTSwitch30" package="VHji0h7UQU" required_version="3.0"/>
    <author email="olivier@lediouris.net">Olivier LeDiouris</author>
    <content src="index.html"/>
    <description>Samsung Frontier client app for the server app at https://github.com/OlivierLD/raspberry-coffee/tree/master/RESTRelay</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <license>MIT</license>
    <name>REST Switch 3.0</name>
    <tizen:profile name="wearable"/>
</widget>
