<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/WeatherStationClient" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:application id="ngbn6UtEQH.WeatherStationClient" package="ngbn6UtEQH" required_version="3.0"/>
    <author email="olivier@lediouris.net">Olivier LeDiouris</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="weather.icon.png"/>
    <license>MIT</license>
    <name>Weather Station Client</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
</widget>
